<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.tiki.sample">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".SampleApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".login.LoginActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".extra.ExtraInjectionActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".productlist.ProductListingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppDesignTheme" />
    <activity
        android:name=".productdetail.ProductDetailActivity"
        android:screenOrientation="portrait" />

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="b1cff2955798017c1408feb840f1520497e8f44e" />

    <activity android:name=".cart.CartActivity" />
    <activity android:name=".collectionview.CollectionViewActivity" />
    <activity android:name=".redux.ReduxDemoActivity" />
    <activity android:name=".daggers.DaggerDemoActivity"></activity>
  </application>

</manifest>